/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {/* page now always shows a scrollbar */
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal { /* to avoid double scrollbars */
  overflow: hidden;
}


@font-face {
    font-family: tahoma;
    src: url(fonts/Tahoma.ttf);
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: tahoma, sans-serif; !important;
}



/* fonts */

.caption {
  font-size: 0.7em;
  text-align: center;
}

.bold-green-text {
  font-weight: bold;
  color: #74AE22;
}

.page-title {
  margin-bottom: 20px;
  color: #74AE22;
  font-weight: bold !important;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/*centers the text in the navbar*/
.navbar-nav {
    margin: 15px -15px !important;
    
}
#navbar {
    color: #74AE22 !important;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #040607;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand {
    padding: 0px !important;
    margin-top: 10px !important;
}
/* setting font in the navbar text*/
.navbar-text{
    color: #74AE22 !important;
}
/* setting font in the navbar text*/
.navbar-text > .col-xs-offset-1 {
    color: #74AE22;
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
}

/* decreases the size of the navbar*/
.navbar-text {
   margin-top: 0px !important;
   margin-bottom: 0px !important;
}
.col-sm-12 > h2 { /* the word Panther in the navbar*/ 
    font-weight: 600;
    margin-bottom: 0px;
}

.navbar-text > .col-sm-11 { /* the sentence martials arts group */
    font-weight: 500;
    margin-bottom: 10px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 428px;
  margin-bottom: 60px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 428px;
  background-color: white;
}
.carousel-inner > .item > img {
  top: 0;
  left: 0;
  max-width: 840px;
  height: 378px;
}

@media (max-width: 860px) {
  .carousel 
    {display: none;
  }
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.hide-above-768 {
   display: inherit; 
}

@media (min-width: 768px) {
  .hide-above-768 {
    display: none;
    }
}

    .hide-bellow-768 {
   display: inherit; 
}

@media (max-width: 767px) {
  .hide-bellow-768 {
    display: none;
    }
}

/* BRAND banner */

.brand-banner {
  background-color: #040607; /*color of the eye isn't perfectly black */
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #74AE22;
  font-weight: bold;
  font-size: 1.2em;
  font-family: tahoma;
  letter-spacing:2px;
}
.brand-banner-font {
  font-size: 2.5em !important;
}

#inline-navbar {
  margin-bottom: 5px !important;
  margin-top:10px !important;
}


/* facebook page pugin */
    .hide-bellow-500 {
   display: inherit; 
}

@media (max-width: 500px) {
  .hide-bellow-500 {
    display: none;
    }
}

/* facebook page pugin */
    .hide-above-500 {
   display: inherit; 
}

@media (min-width: 500px) {
  .hide-above-500 {
    display: none;
    }
}

/* side navbar */
.side-navbar {
  position:fixed;
}

.side-navbar-main {
  padding-left:25px;
  background: url("../images/bullet1.png") no-repeat scroll 5px 4px transparent;
}

.side-navbar-main-list {
  list-style-type: none;
}

.side-navbar-submenu
{
  padding-left:50px;
  list-style-type: disc;
}

/* subpages of the club webpage */

#zemljevid {
  margin-top: 25px;
  margin-bottom: 25px;
}