<div class="container" ng-controller="medvodeCtrl">
	<div class="row">
		<div class="col-xs-11 col-sm-2 col-md-push-9 col-sm-push-8 hidden-xs">
            <div class="row">
                <div class="side-navbar"> <!-- must in in sperate div so that the navbar has a fixed positon inside the parent div, which gives it proper position in the webpage-->
                    <div class="col-xs-12">
                        <ul>
                            <li class="side-navbar-main-list"><a ui-sref="ljubljana" class="side-navbar-main sidebar-link-font"><b>Karate Šiška</b></a></li>
                            <li class="side-navbar-main-list"><a ui-sref="medvode" class="side-navbar-main sidebar-link-font"><b>Karate Medvode</b></a></li>
                            <li class="side-navbar-main-list"><a ui-sref="barje" class="side-navbar-main sidebar-link-font"><b>Karate Jezero Podpeč</b></a></li>
                            <ul class="side-navbar-submenu">
                                <a class="sidebar-link-font" ui-sref="barjeSub({scrollTo: 'vpis'})"><li>vpis</li></a>
                                <a class="sidebar-link-font" ui-sref="barjeSub({scrollTo: 'zemljevid'})"><li>zemljevid</li></a>
                                <a class="sidebar-link-font hidden" ui-sref="barjeSub({scrollTo: 'oKlubu'})"><li>o klubu</li></a>
                            </ul>
                            <li class="side-navbar-main-list"><a ui-sref="klub" class="side-navbar-main sidebar-link-font"><b>Klub</b></a></li>
                            <li class="side-navbar-main-list"><a ui-sref="karate" class="side-navbar-main sidebar-link-font"><b>Karate</b></a></li>
                            <li class="side-navbar-main-list"><a ui-sref="novice" class="side-navbar-main sidebar-link-font"><b>Novice</b></a></li>
                        </ul>
					<div id= "facebook-sidebar" class="row" ng-if="showCookies">
                        <div class="col-xs-10 col-xs-offset-4">
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FPanther-martial-arts-group-544742965711685%2F&width=108&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=180626785330207" width="108" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
					   </div>
                    </div>
                    </div>
                </div>
            </div>


		</div>
		<div class="col-xs-8 col-sm-7 col-lg-8 col-sm-pull-1">
						<div id="vpis" class="row" >
				<div class="col-xs-12">
					<h3 class="page-title"><b>KARATE KLUB JEZERO - vpis</b></h3>
				</div>
				<div class="col-xs-12">
					<p>Vadba je v <b>Gasilskem domu Jezero</b>. - Jezero 45, Jezero.</p>	
				</div>
				<div class="col-xs-12">	
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<p class="vpis-font-title">VPIS
								<br>
							 začetni in nadaljevalni tečaj november 2016</p>    
						</div>
					</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h5>ZAČETNIKI I.</h5>
							<b>otroci 5-9 let</b>
							<br>
							Prvi trening bo 14.11.2016. Vpis bo potekal do konca decembra 2016.
							<br>
							Urnik vadbe: 
							<ul>
								<li>ponedeljek ob 18.00</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h5>ZAČETNIKI II.</h5>
							<b>otroci nad 10 let, mladina, odrasli in družine</b>
							<br>
							Prvi trening bo 14.11.2016. Vpis bo potekal do konca decembra 2016.
							<br>
							Urnik vadbe: 
							<ul>
								<li>ponedeljek ob 19.00 </li>
							</ul>
						</div>
					</div>
				</div>
			<div id="zemljevid" class="row border-top" >
				<div class="col-xs-12">
					<div class="embed-responsive embed-responsive-16by9 content jumbotron" ng-if="showCookies">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d693.2526126396627!2d14.43475471887979!3d45.971050782093684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e6d0e3dceb81a33!2sProstovoljno+gasilsko+dru%C5%A1tvo+Jezero!5e0!3m2!1ssl!2ssi!4v1478261154481" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					<div class="col-xs-12"  ng-if="showCookies == false">
                        <img src="images/rezervniZemljevidJezero.png" class="img-responsive backup-map"> 
                    </div>
					<div class="col-sm-6" >
						 <img src="images/slikaNG.jpg" class="img-responsive"> 
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
